.clearfix,
#app,
#app2 {
  zoom: 1;
}
.clearfix:after,
#app:after,
#app2:after {
  content: "";
  display: block;
  clear: both;
}
#app {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: red;
  width: 100px;
  height: 100px;
}
