html,
body,
ul,
li,
h1,
h2,
h3,
h4,
span,
div,
p,
a,
form,
input {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
}
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  outline: none;
  border: none;
}
img {
  display: block;
}
.carousel-wrap {
  position: relative;
}
.carousel-wrap > .list {
  list-style: none;
  overflow: hidden;
  position: absolute;
}
.carousel-wrap > .list > li {
  float: left;
}
.carousel-wrap > .list > li > a {
  display: block;
}
.carousel-wrap > .list > li > a > img {
  display: block;
  width: 100%;
}
.carousel-wrap > .points-wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}
.carousel-wrap > .points-wrap > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: green;
  margin-left: 5px;
}
.carousel-wrap > .points-wrap > span.active {
  background: deeppink;
}
.damu-nav-drag-wrapper {
  position: relative;
  width: 100%;
  height: 2.62222222rem;
  box-sizing: border-box;
  background: #EEEEEE;
  padding: 0.45925926rem 0 0.20740741rem 0;
}
.damu-nav-drag-wrapper:before {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #000000;
}
@media (-webkit-device-pixel-ratio: 2) {
  .damu-nav-drag-wrapper:before {
    transform: scaleY(0.5);
  }
}
@media (-webkit-device-pixel-ratio: 3) {
  .damu-nav-drag-wrapper:before {
    transform: scaleY(0.33333333);
  }
}
.damu-nav-drag-wrapper .list {
  font-size: 0;
  white-space: nowrap;
  float: left;
}
.damu-nav-drag-wrapper .list > li {
  height: 1.91111111rem;
  line-height: 1.91111111rem;
  font-size: 1rem;
  display: inline-block;
}
.damu-nav-drag-wrapper .list > li a {
  display: block;
  height: 100%;
  color: #020202;
  padding: 0 0.56296296rem;
}
.damu-nav-drag-wrapper .list > li a.active {
  background: #690;
  color: #fff;
}
.clearfix,
#wrap .content .tap-wrap .tap-content,
#wrap .content .tap-wrap .tap-content ul {
  *zoom: 1;
}
.clearfix:after,
#wrap .content .tap-wrap .tap-content:after,
#wrap .content .tap-wrap .tap-content ul:after {
  content: "";
  display: block;
  clear: both;
}
#wrap {
  position: relative;
  font-size: 0.23703704rem;
  height: 100%;
  overflow: hidden;
  background: #EEEEEE;
}
#wrap .head {
  position: absolute;
  width: 100%;
  background: #232323;
  z-index: 8;
}
#wrap .head .head-top {
  height: 2rem;
}
#wrap .head .head-top .logo {
  float: left;
  padding: 0.38518519rem 0.25185185rem 0.31111111rem 0.25185185rem;
}
#wrap .head .head-top .logo img {
  width: 3.55555556rem;
}
#wrap .head .head-top .menuBtn {
  float: left;
  width: 1.91111111rem;
  height: 2rem;
  background: url(../img/menuBtn.png) no-repeat;
  background-size: 1.21481481rem 3.45185185rem;
  background-position: center 0.23703704rem;
}
#wrap .head .head-top .menuBtn.active {
  background-position: center -1.77777778rem;
}
#wrap .head .head-top .btns {
  padding-top: 0.31111111rem;
  float: right;
}
#wrap .head .head-top .btns a {
  float: left;
  width: 1.64444444rem;
  height: 1.15555556rem;
  line-height: 1.15555556rem;
  background: #690;
  color: #ccc;
  margin-right: 0.22222222rem;
  font-size: 0.62222222rem;
  text-align: center;
  border-radius: 0.11851852rem;
}
#wrap .head .head-top .btns a.search {
  width: 1.92592593rem;
  height: 1.3037037rem;
  line-height: 1.3037037rem;
  color: #fff;
  margin-right: 0.44444444rem;
  margin-top: 0.04444444rem;
  font-weight: bold;
  border-radius: 0.14814815rem;
}
#wrap .head .head-bottom {
  height: 1.52592593rem;
  padding: 0.23703704rem;
}
#wrap .head .head-bottom form {
  height: 100%;
}
#wrap .head .head-bottom form input[type='text'] {
  float: left;
  box-sizing: border-box;
  height: 1.52592593rem;
  width: 12.28148148rem;
  background: #999999;
  padding: 0.07407407rem 0.14814815rem;
  border: 1px solid #5a5a5a;
  font-size: 0.60740741rem;
  color: #333333;
  border-radius: 0.22222222rem 0 0 0.22222222rem;
}
#wrap .head .head-bottom form input[type='text']::-webkit-input-placeholder {
  color: #333333;
}
#wrap .head .head-bottom form input[type='text']:focus {
  background: white;
}
#wrap .head .head-bottom form input[type='submit'] {
  float: right;
  width: 3.00740741rem;
  height: 1.52592593rem;
  background: #414040;
  color: #fff;
  font-size: 0.60740741rem;
  border-radius: 0 0.22222222rem 0.22222222rem 0;
}
#wrap .head .mask {
  position: relative;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 2rem;
  width: 100%;
  padding: 0.14814815rem 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}
#wrap .head .mask:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  width: 100%;
  height: 1px;
  background: #ff1493;
}
@media (-webkit-device-pixel-ratio: 2) {
  #wrap .head .mask:before {
    transform: scaleY(0.5);
  }
}
@media (-webkit-device-pixel-ratio: 3) {
  #wrap .head .mask:before {
    transform: scaleY(0.33333333);
  }
}
#wrap .head .mask > li {
  width: 22.5%;
  height: 2rem;
  font-size: 0.8rem;
  line-height: 2rem;
  text-align: center;
  float: left;
}
#wrap .head .mask > li a {
  color: white;
}
#wrap .content {
  background: #EEEEEE;
  position: absolute;
  top: 4rem;
  bottom: 0;
  left: 0;
  right: 0;
}
#wrap .content .tap-wrap {
  overflow: hidden;
  width: 15.4962963rem;
  background: #FFFFFF;
  margin: 0 auto;
}
#wrap .content .tap-wrap .tap-head {
  height: 2rem;
  line-height: 2rem;
}
#wrap .content .tap-wrap .tap-head h2 {
  float: left;
  font-size: 1rem;
}
#wrap .content .tap-wrap .tap-head span {
  float: right;
  font-size: .8rem;
}
#wrap .content .tap-wrap .tap-nav {
  position: relative;
  height: 1.55555556rem;
  line-height: 1.55555556rem;
}
#wrap .content .tap-wrap .tap-nav a {
  float: left;
  height: 1.55555556rem;
  margin-right: 0.2962963rem;
  font-size: 0.65185185rem;
  text-align: center;
  color: #6b6b6b;
}
#wrap .content .tap-wrap .tap-nav .smallG {
  position: absolute;
  left: 0;
  bottom: 0.14814815rem;
  height: 0.13333333rem;
  background: #6f900d;
  transition: 1s transform,1s width;
}
#wrap .content .tap-wrap .tap-content {
  width: 300%;
}
#wrap .content .tap-wrap .tap-content ul {
  float: left;
  width: 33.3333%;
}
#wrap .content .tap-wrap .tap-content ul li {
  box-sizing: border-box;
  width: 7.4962963rem;
  margin: 0.11851852rem;
  padding: 0.07407407rem;
  font-size: 0.59259259rem;
  background: #efefef;
  color: #000000;
  overflow: hidden;
  float: left;
}
#wrap .content .tap-wrap .tap-content ul li a img {
  width: 100%;
}
#wrap .content .tap-wrap .tap-content ul li a span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #605e5e;
}
#wrap .content .tap-wrap .tap-content ul li .tap-discuss .right {
  float: left;
  margin-right: 0.44444444rem;
  vertical-align: middle;
}
#wrap .content .tap-wrap .tap-content ul li .tap-discuss .right span:nth-child(1) {
  display: inline-block;
  width: .5rem;
  height: .5rem;
  background: url(../img/ice.png) no-repeat;
}
#wrap .content .tap-wrap .tap-content ul li .tap-discuss .left {
  float: left;
  vertical-align: middle;
}
#wrap .content .tap-wrap .tap-content ul li .tap-discuss .left span:nth-child(1) {
  display: inline-block;
  width: .5rem;
  height: .5rem;
  background: url(../img/ice.png) no-repeat;
  background-position: 0 -0.8rem;
}
#wrap .content .tap-wrap .tap-content .tap-loading {
  background: url(../img/loading.gif) no-repeat;
  background-position: center;
  height: 10rem;
  opacity: 0;
}
#wrap .scrollBar {
  position: absolute;
  right: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background: deeppink;
  z-index: 9;
  transition: 1s opacity;
  opacity: 0;
}
